@{
    ViewData["Title"] = "Quản lí slide";
    Layout = "../Shared/_Layout - Admin"; 
    //Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified JS -->
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/33.0.0/classic/ckeditor.js"></script>
    

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                aLengthMenu: [
                [3, 5, 10, 20, 50, -1],
                [3, 5, 10, 20, 50, 'Tất cả']
            ]
            });
        });
    </script>
    <style>
        .modal-footer .btn + .btn {
            margin-bottom: 10px;
        }

        #example_wrapper {
            display : block;
        }

        /* Giao diện modal */
        input.fullwidth {
            width : 100%;
        }

        #closing-modal-black:hover {
            color :#333 !important;
        }

        .modal-row-menu {
            margin-top : 13px;
        }
    </style>

</head>

<body>
    <button onclick="window.location.href='/viewstatus/add/viewstatus'" style="width:100px;height:40px;background-color:lightgreen;border-color:white;float:right;margin-bottom:1%;">Add</button>
    <table id="example" class="display" style="width:100%;">
        <thead>
            <tr>
                <th>ID</th> 
                <th>Tên</th>
                <th>Mô tả</th>
                <th>Chi tiết</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.ViewStatusCount; i++)
            {
                <tr>
                    <td>@ViewBag.listViewStatus[i].Id</td> 
                    <td>@ViewBag.listViewStatus[i].Name</td>
                    <td style="width : 58%">@ViewBag.listViewStatus[i].Description</td> 
                    <td><button onclick="Edit(@ViewBag.listViewStatus[i].Id)" data-toggle="modal" data-target="#modal-id">Sửa</button></td>
                    <td><button onclick="DeleteItem(@ViewBag.listViewStatus[i].Id)">Xóa</button></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th> 
                <th>Tên</th>
                <th>Mô tả</th>
                <th>Chi tiết</th>
                <th>Xóa</th>
            </tr>
        </tfoot>
    </table>


    <div class="modal fade" id="modal-id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-gradient-info">
                </div>
                <div class="modal-body">
                    <h3>Quản lí slide</h3>
                    <i>Lưu ý điền đầy đủ các thông tin có dấu <span style="color:red">*</span></i>
                    
                    <div class="row modal-row-menu">
                        <div class="col-md-2 ">
                        <label for="Id">ID(Tự động)</label><span style="color:red">*</span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="Id" class="fullwidth"  disabled />
                        </div>

                        <div class="col-md-2 ">
                        <label for="config">Trang hiển thị(Tự động)</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="config" class="fullwidth" value="slide trang chủ"  disabled />
                        </div>
                    </div>

                    <div class="row modal-row-menu">
                        <div class="col-md-2 ">
                        <label for="Name">Name</label><span style="color:red">*</span> 
                        </div>
                        <div class="col-md-4"> 
                             <input type="text" id="Name"  class="fullwidth" />
                        </div>

                        <div class="col-md-2 ">
                        <label for="Image">Ảnh nền</label><span style="color:red">*</span> 
                        </div>
                        <div class="col-md-4"> 
                             <input type="text" id="Image"  class="fullwidth"  />
                        </div>
                    </div>

                    <div class="row modal-row-menu">
                        <div class="col-md-2 ">
                        <label for="alignment">Căn lề</label> <span style="color:red">*</span>
                        </div>
                        <div class="col-md-4">
                            @*<input type="text" id="alignment" class="fullwidth" />*@
                            <select id="alignment">
                                <option value="text-left">Trái</option>
                                <option value="text-right">Phải</option>
                                <option value="text-center">Giữa</option>
                            </select>
                        </div>

                        @*<div class="col-md-2 ">
                        <label for="ImageUpdate">Chọn ảnh mới</label><span style="color:red">*</span>
                        </div>
                        <div class="col-md-4"> 
                            <input class="fullwidth" type="file" name="ImageUpdate" id= "ImageUpdate" accept="image/*" />
                        </div>*@
                    </div>

                    <div class="row modal-row-menu">
                        <div class="col-md-2 ">
                        <label for="tieu-de-1">Tiêu đề 1</label><span style="color:red">*</span> 
                        </div>
                        <div class="col-md-4"> 
                             <input type="text" id="tieu-de-1"  class="fullwidth" />
                        </div>
                    </div>
                    
                    <div class="row modal-row-menu">
                        <div class="col-md-2 ">
                        <label for="tieu-de-2">Tiêu đề 2</label><span style="color:red">*</span>
                        </div>
                        <div class="col-md-10">
                            <input type="text" id="tieu-de-2"  class="fullwidth" />
                        </div>
                    </div>   
                    <div class="row modal-row-menu">
                        <div class="col-md-2 ">
                        <label for="tieu-de-3">Tiêu đề 3</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" id="tieu-de-3" class="fullwidth"   />
                        </div>
                    </div>
                    <div class="row modal-row-menu">
                        <div class="col-md-2 ">
                        <label for="button-name">Tiêu đề nút</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="button-name" class="fullwidth"   />
                        </div>
                        <div class="col-md-2 ">
                        <label for="button-url">Đường dẫn nút bấm</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="button-url" class="fullwidth"   />
                        </div>
                    </div>

                    <div class="row modal-row-menu">
                        <div class="col-md-2 ">
                        <label for="CreatedTime">Published Time<span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-10">
                            <input type="datetime-local" id="CreatedTime" />
                        </div>
                    </div>
                     
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closing-modal-black"
                            data-dismiss="modal" style="display : contents">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" id="btnUpdateItem" onclick="Submit()">
                        Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    
    async function Edit(id) {  
        // show modal details and load data by id
        $("#modal-id").show();
        
        // get obj by getdetail
        let obj = await getItemByID(id);
        // parse description to array
        const item = JSON.parse(obj[0].Description) ;
        debugger;   
        // load data
        $("#Id").val(obj[0].Id);
        $("#Name").val(obj[0].Name);

        $("#alignment").val(item[0]['alignment']);
        $("#Image").val(item[0]['Image']);
        $("#tieu-de-1").val(item[0]['tieude1']); 
        $("#tieu-de-2").val(item[0]['tieude2']); 
        $("#tieu-de-3").val(item[0]['tieude3']); 
        $("#button-name").val(item[0]['buttonName']); 
        $("#button-url").val(item[0]['buttonUrl']);  
		$("#CreatedTime").val(obj[0].CreatedTime);
    }

    async function getItemByID(id) {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: "/viewstatus/api/detail/" + id ,
                type: "GET",
                async: 'true',
                contentType: "application/json",
                success: function (responseData) {
                    //debugger;
                    Item = JSON.parse(responseData);
                    resolve(Item)
                },
                error: function (e) {
                    reject(e);
                }
            });
        })

        // không rõ
        // ajax phải dùng js đẩy thẳng chứ k truyền đc dữ liệu , k return
        //$.ajax({
        //    url: "/menu/api/list",
        //    type: "GET",
        //    async: 'true',
        //    contentType: "application/json",
        //    success: function (responseData) {
        //        // ajax lọc list menu trả về result là 1 row data theo ID
        //        debugger;
        //        var dataSource = responseData.data;
        //        const result = dataSource.find(item => parseInt(item.id) === id);
        //        // return = resolve
        //        // câu lệnh của promise = await asyn
        //        resolve(result); 
        //    },
        //    error: function (e) {

        //    }
        //});
        }


        async function DeleteItem(id) {
        debugger;
        Swal.fire({
            icon: 'question',
            title: 'Bạn có muốn xóa item này?',
            showCancelButton: true,
            showCloseButton: true
        }).then((result) => {
            if (result.isConfirmed) {
                //var obj = await GetDetailItem(id);
                $.ajax({
                    url: "/viewstatus/api/delete",
                    type: 'POST',
                    contentType: 'application/JSON',
                    data: JSON.stringify({ "id": id }),
                    success: function (responseData) { 
                        
                        Swal.fire({
                            icon: 'success',
                            title: '<strong>Item đã xóa thành công!</strong>',
                            showCloseButton: true,
                            focusConfirm: false,
                        }).then(resultt => {
                                if (resultt.isConfirmed) {
                                    location.reload();
                                }
                            });

                    }
                })
            }
        })
    }
</script>
<script> 
    
    function Submit() {
        // verify thỏa mãn điều kiện trước khi tạo 
            var resultSubmit = true;
             

            if( $("#Name").val().trim() == "" ||  $("#Name").val().trim() == null) {
                resultSubmit = false;
                Swal.fire({
                icon: 'warning',
                title: 'Cần điền đầy đủ thông tin',
                text: 'Name không thể bị bỏ trống',
                showCloseButton: true,
                showCancelButton: true
                });
            }

            if( $("#tieu-de-1").val().trim() == "" ||  $("#tieu-de-1").val().trim() == null) {
                resultSubmit = false;
                Swal.fire({
                icon: 'warning',
                title: 'Cần điền đầy đủ thông tin',
                text: 'tieu-de-1 không thể bị bỏ trống',
                showCloseButton: true,
                showCancelButton: true
                });
            }

            if( $("#tieu-de-2").val().trim() == "" ||  $("#tieu-de-2").val().trim() == null) {
                resultSubmit = false;
                Swal.fire({
                icon: 'warning',
                title: 'Cần điền đầy đủ thông tin',
                text: 'tieu-de-2 không thể bị bỏ trống',
                showCloseButton: true,
                showCancelButton: true
                });
            }

            if( $("#tieu-de-3").val().trim() == "" ||  $("#tieu-de-3").val().trim() == null) {
                resultSubmit = false;
                Swal.fire({
                icon: 'warning',
                title: 'Cần điền đầy đủ thông tin',
                text: 'tieu-de-3 không thể bị bỏ trống',
                showCloseButton: true,
                showCancelButton: true
                });
            }

            if( $("#button-name").val().trim() == "" ||  $("#button-name").val().trim() == null) {
                resultSubmit = false;
                Swal.fire({
                icon: 'warning',
                title: 'Cần điền đầy đủ thông tin',
                text: 'button-name không thể bị bỏ trống',
                showCloseButton: true,
                showCancelButton: true
                });
            }

            if( $("#button-url").val().trim() == "" ||  $("#button-url").val().trim() == null) {
                resultSubmit = false;
                Swal.fire({
                icon: 'warning',
                title: 'Cần điền đầy đủ thông tin',
                text: 'button-url không thể bị bỏ trống',
                showCloseButton: true,
                showCancelButton: true
                });
            }
             
            if( $("#CreatedTime").val == "" ||  $("#CreatedTime").val() == null) {
                resultSubmit = false;
                Swal.fire({
                icon: 'warning',
                title: 'Cần điền đầy đủ thông tin',
                text: 'CreatedTime không thể bị bỏ trống',
                showCloseButton: true,
                showCancelButton: true
                });
            }

            if(resultSubmit) { 
                Swal.fire({
                icon: 'question',
                title: 'Confirm?',
                text: 'Bạn có muốn sửa slide ?',
                showCloseButton: true,
                showCancelButton: true
            }).then((result) => {
                if (result.isConfirmed) { 
                    //check xem co update img khong ?
                    //var linkimg1 = $("#Image").val();
                    //if($('#ImageUpdate').val() != '') {
                    //    linkimg1 = $('#ImageUpdate').val();
                    //}

                    var allData = [];
                    const objAllData = {
                        "alignment": $("#alignment").val(),
                        "Image": $("#Image").val(),
                        "tieude1": $("#tieu-de-1").val(),
                        "tieude2": $("#tieu-de-2").val(),
                        "tieude3": $("#tieu-de-3").val(),
                        "buttonName": $("#button-name").val(),
                        "buttonUrl": $("#button-url").val(), 
                    };
                    debugger;
                    allData.push(objAllData);

                    var obj = {  
                        "Id" : $("#Id").val(),
                        "Name": $("#Name").val(), 
                        "Description": JSON.stringify(allData),
                        "CreatedTime": $("#CreatedTime").val(),

                    }
                    $.ajax({
                        url: "/viewstatus/api/edit",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(obj),
                        success: function (responseData) {
                       
                            Swal.fire({
                                icon: 'success',
                                title: '<strong>Đã chỉnh sửa Slide!</strong>',
                                showCloseButton: true,
                                focusConfirm: false,
                            }).then(resultt => {
                                    if (resultt.isConfirmed) {
                                        location.reload();
                                    }
                                });
                        
                        }
                    })
                } else if (result.isDenied) {

                }
            })
            }

        
    }

    async function GetDetailItem(id) {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: "/menu/api/detail/" + id,
                type: "GET",
                async: 'true',
                contentType: "application/json",
                success: function (responseData) {
                    var Item = JSON.parse(responseData);
                    resolve(Item)
                },
                error: function (e) {
                    reject(e);
                }
            });
        })
    }
</script>