@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chi tiết";
} 
      
<script>
    $( document ).ready(function() { 
    if(@ViewBag.Post[0].PostCategoryId == 3)
        {
            const g1_today = new Date();
             var g2_open_time = new Date('@ViewBag.Post[0].OpenTime ');
             var g3_close_time = new Date('@ViewBag.Post[0].ClosedTime ');
         
             //sắp diễn ra
             if (g1_today.getTime() < g2_open_time.getTime()) {
                $('#event-button-click-1').show();
                //$('#event-button-click-1').show();
             } 
             // đã kết thúc
             else if(g1_today.getTime() > g3_close_time.getTime() ) {
                 $('#event-button-click-end').show();
             } 
             // đang diễn ra
             else {
                 $('#event-button-click-ongoing').show();
             } 
        } 
    }); 
</script>
<script>  
    function joinEvent() {
        Swal.fire({
                icon: 'question',
                title: 'Bạn có muốn đăng kí sự kiện?',
                text: 'Hãy nhập email của bạn',
                 input: 'email',
                showCloseButton: true,
                showCancelButton: true
            }).then((result) =>{
                if (result.isConfirmed) { 
                    

                    var obj = { 
                        "Active": 1,
                        "Name": $(".swal2-input").val(), 
                        "Description": $('#title-name').text(),  

                    }

                    debugger;
                    $.ajax({
                         url: "/subcribe/api/add",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(obj), 
                        success: function (data) {
                           Swal.fire({
                                title: '<strong>Đã đăng kí tham gia thành công!</strong>',
                                icon: 'success',
                                showCloseButton: true,
                                focusConfirm: false,
                            });

                        },
                        error: function () {
                         alert('Error');
                        }
                    });


                }
            });
    }


    function addNewRequest() {
        debugger;
        var obj = {
        "PostId": '@ViewBag.Post[0].Id', 
        "AccountId": 2,
        "Active": 1,
        "EventRequestStatusId": 1, 
        "Name": '@ViewBag.Post[0].Name',
        "Email": $('.swal2-input').val(),
        "Phone" : "8411",   
        "Description" : '@ViewBag.Post[0].Description',  
        "CreatedTime": '@ViewBag.Post[0].CreatedTime', 
        "Account" : "",
        "EventRequestStatus" : "",
        "Post" : "",

    }
    //$.ajax({
    //    url: "/EventRequest/api/add",
    //    type: "POST",
    //    contentType: "application/json",
    //    data: JSON.stringify(obj),
    //    success: function (responseData) {
    //        Swal.fire({
    //            title: '<strong>Đăng kí tham gia thành công!</strong>',
    //            icon: 'success',
    //            showCloseButton: true, 
    //        });
    //    }
    //});
    $.ajax({
        url: "https://localhost:5001/EventRequest/api/add",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(obj),
        success: function (responseData) {
            Swal.fire({
                title: '<strong>Đã tạo menu mới thành công!</strong>',
                icon: 'success',
                showCloseButton: true,
                focusConfirm: false,
            }).then(resultt => {
                if (resultt.isConfirmed) {
                    window.location.href = "/menu/admin/list";
                }
            });
        }
        });
    }

</script>

 
    <div>

        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <h1 id="title-name">@ViewBag.Post[0].Name</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>@ViewBag.Post[0].CreatedTime</p>
            </div>
            @if(@ViewBag.Post[0].PostCategoryId == 3)
            {
                
                        @*<div style="margin-top: 15px; /*margin-bottom: 15px;*/">*@

                            

                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 thoigian-sukien" style="margin-bottom:22px">
                                <p style="text-align: left; font-size : 18px;"><i class="fas fa-calendar-day" style="font-size : 18px;"></i> Thời gian diễn ra:<span id='openTimeId'>@ViewBag.Post[0].OpenTime</span>   -   <span id="closeTimeId">@ViewBag.Post[0].ClosedTime </span></p>

                                <p id="name-location" style="text-align: left; font-size : 18px;"><i class="fas fa-map-marker-alt" style="font-size : 18px;"></i> Địa điểm diễn ra: @ViewBag.Post[0].EventAddress</p>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <span style="float:right; ">
                                    <button id="event-button-click-1" onClick="joinEvent()" class="btn btn-primary button-76 buttonCategoryOfNews button-join-event" style="display : none">Đăng ký tham gia sự kiện</button>
                                    <button id="event-button-click-3" class="btn btn-primary button-76 buttonCategoryOfNews" style="display : none;">Bạn đã đăng ký tham gia sự kiện</button>
                                    <button id="event-button-click-ongoing" class="btn btn-primary button-76 buttonCategoryOfNews button-on-going-event"  style="display : none">Sự kiện đang diễn ra</button>
                                    <button id="event-button-click-end" class="btn btn-primary button-76 buttonCategoryOfNews button-can-not-join-event"  style="display : none">Sự kiện đã kết thúc</button>
                                </span>

                            </div>


                        @*</div>*@
            } 
            
        </div>


        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p style="font-style:italic;font-weight:bold">@ViewBag.Post[0].Description</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>@Html.Raw(ViewBag.Post[0].Text)</p>
            </div>

        @if(ViewBag.Post[0].PostCommentStatusId != 0)
        {
             <partial name="../Shared/DaihocFPTNews/_Comment_NewDetail" />
        }
           


        </div>


    </div>
     

<!-- script 1-->

    <style>
        /* Video infomation below : Start */
        .spanDayReleaseBlue {
            float: left;
            line-height: 15px;
            font-size: 12px;
            color: #265178;
        }

        .buttonCategoryOfNews {
            border-radius: 5;
            border: 0px solid transparent;
            padding: 1rem 2rem !important;
            line-height: 1rem !important;
        }

        .button-join-event {
            background-color: #fb8557 !important;
            background-image: linear-gradient(to bottom right, #efcd90, #ff9752c7, #e37c19d2) !important;
        }

        .button-can-not-join-event {
            background-color: gray !important;
            background-image: linear-gradient(to bottom right, #8d8d8d, #a19999c7, #6a6060) !important;
        }
        /* Video infomation below : End */


        /*  Button 'Đang Diễn Ra' : Start */
        .button-on-going-event {
            background-color: yellow;
            background-image: linear-gradient(to bottom right, #c5f3e5, #41d3a7c7, #008104);
        }

        .button-end-event {
            background-color: gray;
            background-image: linear-gradient(to bottom right, #e9f4f5, #a19999c7, #6a6060);
        }

        .button-will-event {
            background-color: #ffd86c;
            ;
            background-image: linear-gradient(to bottom right, #efcd90, #ff9752c7, #e37c19d2)
        }

        .button-76 {
            border: 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            font-size: 1.125rem;
            /* 18px */
            font-weight: 600;
            line-height: 1.75rem;
            /* 28px */
            padding: 1rem 1.25rem;
            text-align: center;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }
         

        @@media (min-width: 1024px) {
            .button-76 {
                font-size: 1.5rem;
                /* 24px */
                padding: 1rem 3rem;
                line-height: 0.5rem;
                /* 32px */
            }
        }


        /*  Button 'Đang Diễn Ra' : End */



        /* Responsive start */
        @@media(max-width : 1600px) and (min-width : 1200px) {
            /* chỉnh title */
            .event-container {
                width: 933px;
            }
        }

        @@media (max-width : 1030px) and (min-width : 991px) {
            /* chỉnh title */
            .container-event-details-1 {
                padding-right: 0px
            }
        }

        @@media (max-width : 1078px) {
            /* chỉnh title */
            .container-event-details-wrapper-1 {
                background-size: auto !important;
            }

            .container-event-details-1 #title-name {
                font-size: 25px !important;
            }
        }

        @@media (max-width : 515px) {
            /* chỉnh title */
            .container-event-details-1 #title-name {
                font-size: 16px !important;
                margin-bottom: 5% !important;
            }

            #event-button-1, #event-button-2, #event-button-3 {
                margin: auto auto 5% !important;
            }

            .thoigian-sukien {
                right: 0 !important;
            }
        }

        @@media (max-width : 760px) {
            /* chinh video */
            .event-container {
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            /*chinh content */
            #noidungchitiet-sukien {
                font-size: 23px !important;
            }
        }

        /* Responsive end */
    </style>

